<!-- Font Awesome -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="head">
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
		 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/home"><img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top"
			 alt=""></a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/">home<span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/logout">logout<span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<img src="/images/search.svg" id="search_btn">
			</ul>
		</div>
	</nav>
	<div class="container">
		<form id="search_form" action="/movie/search" method="POST">
			<div class="row">
				<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" id="search" name="search"/>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="containers">
	<div class="gala">
	</div>
</div>
<div class="movie-desc">
	<div class="box">
		<div class="cancel">
			<img style="width:100%;height:100%" src="/images/cancel.svg" id="cancel">
		</div>
	</div>
	<a class="movie_link" href="">
		<div class="play_btn">
			<img src="/images/play_btn.svg" id="start_play">
		</div>
	</a>
	<div class="vid_desc">
		<h1></h1>
		<p class="overview"></p>
	</div>
</div>


<script>
	var i = 0;
	function makeMovieCall() {
		var data = {};
		$.ajax({
			type: 'POST',
			data: JSON.stringify(data),
			contentType: 'application/json',
			url: '/movie/default',
			success: function (res) {
				// console.log(res);
				$('.gala').html(res);
			}
		});
	}

	function func(e) {
		var year = $(e).find($('.year')).html(),
			title = $(e).find($('.movie-title')).html();
			console.log('------> ' + title);
		var data = {};
		data.title = title;

		var data;
		$.ajax({
			type: 'POST',
			data: JSON.stringify(data),
			contentType: 'application/json',
			url: '/movie/info',
			success: function (res) {
				console.log(res);

				$('.box').css({
					'background-image': 'url("https://image.tmdb.org/t/p/w500' + res.backdrop_path + '")'
				})
				$('.movie-desc').css({
					'display': 'block',
				});
				$('.container').css({
					'display': 'none',
				});
				$('.head').css({
					'height': '100%'
				});
				$('.movie-desc').css({
					'width': '70vw',
					'height': 'auto',
				});
				$('.overview').html(res.overview);
				$('.vid_desc').find('h1').html(res.title);

				var url = 'title=' + res.title +
						'&poster=' + res.backdrop_path +
						'&desc=' + res.overview +
						'&year=' + res.release_date.substring(0, 4);

				var newUrl = Base64.encode(url);


				$('.movie_link').attr('href', '/video?' + newUrl);
			}
		});
	}

	$('document').ready(function () {
		makeMovieCall();

		$('#search_form').css({
			'display': 'none',
			'transition': '600ms',
		});
		$('.head').css({
			'height': '0px',
		});

		$('#cancel').on('click', function () {
			$('.movie-desc').css({
				'display': 'none',
			});
			$('.container').css({
				'display': 'block',
			});
			$('.head').css({
				'height': '106px',
			});
			$('.movie-desc').css({
				'width': '0',
				'height': '0'
			});
		})

		$('#search_btn').on('click', function () {
			if (i == 0) {
				$('#search_form').css({
					'display': 'block',
				});
				$('.head').css({
					'height': '106px',
				});
				i = 1;
			} else {
				$('#search_form').css({
					'display': 'none',
				});
				$('.head').css({
					'height': '0px',
				});
				i = 0;
			}
		});

		document.getElementById("search").addEventListener("input", function () {
			if ($('#search').val() === '') {
				makeMovieCall();
			} else {
				var data = {};
				data.search = $('#search').val();
				$.ajax({
					type: 'POST',
					data: JSON.stringify(data),
					contentType: 'application/json',
					url: '/movie/search',
					success: function (res) {
						console.log(res);
						$('.gala').html(res);
					}
				});
			}
		});
	});

</script>
