<link rel="stylesheet" href="/stylesheets/login.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			{{#if errors}}
				<div id="errors" class="alert alert-danger" role="alert">
					{{#each errors}}
						<li class="err_li">{{this.msg}}</li>
					{{/each}}
				</div>
			{{/if}}
			{{#if mail_err}}
				<div id="errors" class="alert alert-danger" role="alert">{{mail_err}}</div>
			{{/if}}
			<div id="err_msg" style="display:none" class="alert alert-danger" role="alert"> </div>
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">password reset</h5>
					<form id="form" class="form-signin" method="POST" action="/forgot/password/reset/new">
						<meter max="5" id="strength" value="0"></meter>
						<div class="form-label-group">
							<input name="password1" type="password" id="password1" class="form-control" placeholder="password">
							<label for="password1">password</label>
							<div class="bar"></div>
						</div>
						<div class="form-label-group">
							<input name="password2" type="password" id="password2" class="form-control" placeholder="confirm password">
							<label for="password2">confirm password</label>
						</div>
						<button id="submit" class="btn btn-lg btn-primary btn-block disabled" disabled="disabled" type="submit"> <span>create account</span> </button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(window).on("load", function() {

		$('#form').submit(function(eventObj) {
			$(this).append('<input type="hidden" name="id" value="{{user_id}}"/> ');
			return true;
		});

		$('#form').on('input', function() {
			var regem = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			tex = '';
			var p1 = $('#password1').val(),
				p2 = $('#password2').val();

			var level = sMeter(p1, '#strength');
			if (p1 && level < 3)
				tex += '- password too weak: you can do better<br>';
			if (level == 3)
				tex += '- password still weak<br>';
			if (p1 && p1.length < 6)
				tex += '- password too short<br>';
			if (p2 && !(p1 == p2))
				tex += '- passwords don\'t match<br>';
			if (tex) {
				$('#err_msg').css('display', 'block');
			} else {
				$('#err_msg').css('display', 'none');
			}
			$('#err_msg').html(tex);
			if (!tex && p1 && p2) {
				$('#submit').removeClass('disabled');
				$("#submit").removeAttr('disabled');
			} else if (!$('#submit').hasClass('disabled') && (!p1 || !p2 || tex))
				$('#submit').addClass('disabled');
		});
	});
</script>