<title>yesus</title>
<link rel="stylesheet" href="/stylesheets/video.css">
<link href="https://vjs.zencdn.net/7.3.0/video-js.css" rel="stylesheet">
<script src="https://vjs.zencdn.net/7.3.0/video.js"></script>
<!-- Font Awesome -->
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<!-- <link rel="stylesheet" href="/stylesheets/home.css"> -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
	 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#"><img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top"
		 alt=""></a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/home">home<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>
<div class="main">
	<div class='player'>
		<video poster="" id="videoPlayer" class="video-js vjs-default-skin vjs-fill" controls preload="metadata">
			<source src="http://localhost:8080/video/335983" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<br>
	<div class="vid_desc">
		<h2>Title</h2>
		<p></p>
	</div>
</div>

<script>
	var player = videojs('videoPlayer');
	var i = 0;

	$('document').ready(function () {
		var encodedUrl = document.location.search;

		var decodedUrl = Base64.decode(encodedUrl);
		var query = getQueryParams(decodedUrl);

		player.poster('https://image.tmdb.org/t/p/w500' + query.poster);

		$('.vid_desc').find('h2').html(query.title);
		$('.vid_desc').find('p').html(query.desc);

//		Make fullscrenn border 0px;

//		if (window.innerHeight == screen.height) {
//			console.log("Comparison works");
//			$('#videoPlayer').css({
//				'border': '0px',
//			});
//		}
	})

</script>
