<title>yesus</title>
<link rel="stylesheet" href="/stylesheets/video.css">
<link href="https://vjs.zencdn.net/7.3.0/video-js.css" rel="stylesheet">
<script src="https://vjs.zencdn.net/7.3.0/video.js"></script>
<!-- Font Awesome -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<!-- <link rel="stylesheet" href="/stylesheets/home.css"> -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
	 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#"><img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top"
		 alt=""></a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/home">home<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>
<div class="main">
	<div class='player'>
		<video poster="" id="videoPlayer" class="video-js vjs-default-skin vjs-fill" controls preload="metadata">
			<source src="http://localhost:8080/video" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<br>
	<div class="vid_desc">
		<h2>Title</h2>
		<p></p>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="panel panel-white post panel-shadow">
						<div class="post-heading">
							<div class="pull-left image">
								<img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
							</div>
							<div class="pull-left meta">
								<div class="title h5">
									<a href="#"><b>Ryan Haywood</b></a>
									made a post.
								</div>
								<h6 class="text-muted time">1 minute ago</h6>
							</div>
						</div> 
						<div class="post-description"> 
							<p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
							<div class="stats">
								<a href="#" class="btn btn-default stat-item">
									<i class="fa fa-thumbs-up icon"></i>2
								</a>
								<a href="#" class="btn btn-default stat-item">
									<i class="fa fa-thumbs-down icon"></i>12
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="panel panel-white post panel-shadow">
						<div class="post-heading">
							<div class="pull-left image">
								<img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
							</div>
							<div class="pull-left meta">
								<div class="title h5">
									<a href="#"><b>Ryan Haywood</b></a>
									made a post.
								</div>
								<h6 class="text-muted time">1 minute ago</h6>
							</div>
						</div> 
						<div class="post-description"> 
							<p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
							<div class="stats">
								<a href="#" class="btn btn-default stat-item">
									<i class="fa fa-thumbs-up icon"></i>2
								</a>
								<a href="#" class="btn btn-default stat-item">
									<i class="fa fa-thumbs-down icon"></i>12
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<p>Footer</p>
</div>

<script>
	var player = videojs('videoPlayer');
	var i = 0;

	$('document').ready(function () {
		var encodedUrl = document.location.search.replace("info=", "");

		var decodedUrl = Base64.decode(encodedUrl);
		var query = getQueryParams(decodedUrl);

		player.poster('https://image.tmdb.org/t/p/w500' + query.poster);

		$('.vid_desc').find('h2').html(query.title);
		$('.vid_desc').find('p').html(query.desc);

//		Make fullscrenn border 0px;

//		if (window.innerHeight == screen.height) {
//			console.log("Comparison works");
//			$('#videoPlayer').css({
//				'border': '0px',
//			});
//		}
	})

</script>
