<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/video.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class='player'>
    <video id="videoPlayer" width="600" height="400" controls>
        <source src="http://localhost:8080/video" type="video/mp4">
    </video>
    </div>
</body>

</html>