<title>yesus</title>
<link rel="stylesheet" href="/stylesheets/video.css">
<link href="https://vjs.zencdn.net/7.3.0/video-js.css" rel="stylesheet">
<script src="https://vjs.zencdn.net/7.3.0/video.js"></script>
<!-- Font Awesome -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--- Include the above in your HEAD tag --->


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<!-- <link rel="stylesheet" href="/stylesheets/home.css"> -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
	 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#"><img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top"
		 alt=""></a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/home">home<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>
<div class="main">
	<div class='player'>
		<video poster="" id="videoPlayer" class="video-js vjs-default-skin vjs-fill" controls preload="metadata">
			<source src="http://localhost:8080/video" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<br>
	<div class="vid_desc">
		<h2>Title</h2>
		<p></p>
		<div class="container">
			<div class="col-lg-4 col-sm-6 text-center">
				<div class="well">
					<h4>What is on your mind?</h4>
					<div class="input-group">
						<input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
						<span class="input-group-btn" onclick="addComment()">
							<a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</a>
						</span>
					</div>
					<hr data-brackets-id="12673">
					<ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
						<strong class="pull-left primary-font">James</strong>
						<small class="pull-right text-muted">
							<span class="glyphicon glyphicon-time"></span>7 mins ago</small>
						</br>
						<li class="ui-state-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. </li>
						</br>
						<strong class="pull-left primary-font">Taylor</strong>
						<small class="pull-right text-muted">
							<span class="glyphicon glyphicon-time"></span>14 mins ago</small>
						</br>
						<li class="ui-state-default">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<p>Footer</p>
	</div>

	<script>
		var player = videojs('videoPlayer');
		var i = 0;

	$('document').ready(function () {
		var encodedUrl = document.location.search.replace("info=", "");

		var decodedUrl = Base64.decode(encodedUrl);
		var query = getQueryParams(decodedUrl);
		console.log(query.poster);
		//player.poster('https://image.tmdb.org/t/p/w500' + query.poster);
		player.poster('https://image.tmdb.org/t/p/w1280' + query.poster);

			$('.vid_desc').find('h2').html(query.title);
			$('.vid_desc').find('p').html(query.desc);

			//		Make fullscrenn border 0px;

			//		if (window.innerHeight == screen.height) {
			//			console.log("Comparison works");
			//			$('#videoPlayer').css({
			//				'border': '0px',
			//			});
			//		}
		})

	</script>
