<title>yesus</title>
<link rel="stylesheet" href="/stylesheets/video.css">
<link href="https://vjs.zencdn.net/7.3.0/video-js.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<script src="https://vjs.zencdn.net/7.3.0/video.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Font Awesome -->
<!--- Include the above in your HEAD tag --->
{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous"> --}}
{{!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"> --}}
<!-- <link rel="stylesheet" href="/stylesheets/home.css"> -->

<div class="head">
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
		 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/user/profile"><img src="/images/avatar.png" width="40" height="40" class="d-inline-block align-top"
			 alt=""></a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/logout">logout<span class="sr-only">(current)</span></a>
				</li>
			</ul>
		</div>
		{{!-- <div class="profile_icon"></div> --}}
	</nav>
</div>
<div class="main">
	<div class='player'>
		<video poster="" id="videoPlayer" class="video-js vjs-default-skin vjs-fill" controls preload="metadata">
			<source src="http://localhost:8080/video" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<br>
	<div class="vid_desc">
		<h2>Title</h2>
		<p></p>

		{{!-- comment input --}}
		<div class="container">
			<div class="row">
				<div class="input-group">
					<input type="text" class="comment form-control" placeholder="Make a comment&hellip;">
					<span class="input-group-btn">
						<button type="button" class="comment-btn btn btn-default"> Comment </button>
					</span>
				</div>
			</div>

			{{!-- list  of comments --}}

			<div class="com-boxes row">
			</div>
		</div>
	</div>
</div>
<div class="back-to-top_1 text-right" id="myBtn">
	<a href="#" class="btn-block"><i class="arrow up"></i></a>
</div>
<div class="footer">
	<p>Footer</p>
</div>

<script>
	var player = videojs('videoPlayer');
	var i = 0;
	var query;

	window.onscroll = function () {
		scrollFunction()
	};


	function getComments() {
		var data = {};
		$.ajax({
			type: 'POST',
			data: JSON.stringify(data),
			contentType: 'application/json',
			url: '/comments/get_comments',
			success: function (res) {
				$('.com-boxes').html(res);
			}
		})
	}

	$('document').ready(function () {
		getComments();

		$('#myBtn').css({
			'display': 'none',
		});
		var encodedUrl = document.location.search.replace("info=", "");

		var decodedUrl = Base64.decode(encodedUrl);
		query = getQueryParams(decodedUrl);
		//console.log(query);
		player.poster('https://image.tmdb.org/t/p/w1280' + query.poster);

		$('.vid_desc').find('h2').html(query.title);
		$('.vid_desc').find('p').html(query.desc);

		//		Make fullscrenn border 0px;

		//		if (window.innerHeight == screen.height) {
		//			console.log("Comparison works");
		//			$('#videoPlayer').css({
		//				'border': '0px',
		//			});
		//		}
	})

	$('.comment-btn').on('click', function () {

		if ($('.comment').val() != '') {
			var data = {};
			data.comment = $('.comment').val();
			data.title = query.title;
			data.year = parseInt(query.year);
			$.ajax({
				type: 'POST',
				data: JSON.stringify(data),
				contentType: 'application/json',
				url: '/comments',
				success: function (res) {
					//					$('.com-boxes').html(res);
				}
			})
			getComments();
		}
	})


	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("myBtn").style.display = "block";
		} else {
			document.getElementById("myBtn").style.display = "none";
		}
	}

</script>
