body {
    background-color: black;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

* {
    font-family: Consolas;
}

.err_li {
    font-size: 2px;
}

.form-control {
    border: 1px solid black;
}

form {
    width: 80%;
    margin: 0 auto;
}

input {
    text-align: center;
}

article {
    padding: 20px;
    margin-top: 9vw;
    background-color: #ff9900;
}

.btn {
    color: #FF9900;
    border: 0;
    background-color: black;
    width: 80%;
    margin: 0 auto;
    ;
}