body {
    background-color: black;
}

* {
    outline-color: transparent !important;
    font-family: Consolas !important;
    text-decoration: none !important;
    /* -webkit-transition: 300ms;
    transition: 300ms; */
}

.dropdown {
    margin-bottom: 1rem!important;
}

.dropdown-toggle {
    /* border: 2px solid #fff;
    color: #FF9900;
    background-color: #262626; */

    border: 2px solid #262626;
    color: black;
    background-color: #FF9900;
    font-style: bold;
    padding: 10px;
    font-size: 16px;
}

.dropdown-toggle:hover {
    border: 2px solid #fff;
    color: #FF9900;
    background-color: #262626;
    border: 2px solid #262626;
    color: #fff;
    padding: 10px;
    background-color: #FF9900;
}

.dropdown-menu {
    left: -10px !important;
}

.dropdown-item {
    font-size: small;
}

.dropdown-menu {
    height: 300px;
    overflow-y: scroll;
    position: absolute;
    transform: translate3d(159px, 48px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    padding: 0;
    color: #FF9900;
    background-color: #262626;
    padding: 13px ;
}

body i {
    font-family: 'Font Awesome 5 Free' !important;
}

meter {
    position: relative;
    width: 100%;
    background: none;
    border: 1px solid black;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value {
    background: grey;
}

meter[value="2"]::-webkit-meter-optimum-value {
    background: red;
}

meter[value="3"]::-webkit-meter-optimum-value {
    background: yellow;
}

meter[value="4"]::-webkit-meter-optimum-value {
    background: orange;
}

meter[value="5"]::-webkit-meter-optimum-value {
    background: green;
}

.fa, .fas {
    font-size: 25px;
}

.nav-item .tooltiptext {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.nav-item:hover .tooltiptext {
    visibility: visible;
}

.speech-bubble {
    position: relative;
    background: #000000;
    border-radius: .4em;
    font-size: small;
    padding: 5px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 14%;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-bottom-color: #000000;
    border-top: 0;
    margin-left: -0.25em;
    margin-top: -0.437em;
}

.fa-arrow-left {
    font-style: normal;
    font-size: 30px;
    color: #ff9900;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.watched-movie-card {
    margin-top: 2vw;
    margin-left: 2vw;
    background-size: cover;
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    /* border: 1px solid #FF9900; */
    padding: 0;
    display: -webkit-inline-box;
    border-radius: 4px;
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}

.back {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background: chartreuse; */
    margin-top: 2vw;
    margin-left: -1vw;
    z-index: 2;
}

.back:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.navbar {
    font-weight: bold;
    background-color: #ff9900 !important;
}

.crop-container {
    margin: auto;
    background-color: #E88C00;
    height: 500px !important;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.fa-plus:before {
    font-style: normal;
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
}

.mx-auto {
    padding-right: 0;
    padding-left: 0;
    bottom: 2vw;
}

.col-sm-9 .col-md-7 .col-lg-5 {}

.btn-group-lg>.btn, .btn-lg {
    font-size: 1rem;
}

.middle-card {
    background-color: black;
    box-shadow: inset 0 0 10px #ff9900;
}

.the-movies {
    overflow-y: scroll;
    display: inline-block;
    background-color: #E88C00 !important;
}

.nav-tabs .nav-link {
    border: 1px solid #00000036;
}

.nav-tabs .nav-link {
    cursor: pointer;
}

.card {
    margin-top: 20px;
    padding: 30px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-lg-6 {
    max-width: none !important;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: black;
    height: 160px;
    -moz-box-shadow: inset 0 0 10px #ff9900;
    -webkit-box-shadow: inset 0 0 10px #ff9900;
    box-shadow: inset 0 0 10px #ff9900;
}

.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}

.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ff9900;
    background-color: #ff9900;
}

.card.hovercard .card-info {
    position: absolute;
    background-color: #ff9900;
    font-weight: bold;
    bottom: 10px;
    left: 0;
    right: 0;
}

.tab-content {
    margin-top: 1vw;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.form-control:disabled, .form-control:disabled, .form-control:disabled {
    background-color: #FFC773;
}

.input-group>.input-group-prepend>.input-group-text {
    background-color: black !important;
}

input {
    border: 0 !important;
}

.input-group>.input-group-prepend>.input-group-text {
    border: 0 !important;
}

#submit {
    background-color: forestgreen;
}

.my-5 {
    height: 700px;
    margin-top: 0rem !important;
}

.form-control {
    background-color: #FFC773;
}

.alert-danger {
    font-size: 12px;
}

.avatar-cont {
    position: relative;
}

.card-signin {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-header {
    background-color: #ff9900;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.btn-primary {
    color: #FF9900;
    border: 0;
    background-color: black;
}

.btn-primary:hover {
    color: #FF9900;
    background-color: #262626;
}

.card-body {
    background-color: #FF9900 !important;
}

.card-signin .card-body {
    background-color: #FF9900 !important;
    padding: 2rem;
}

.my-5 {
    background-color: #ff9900;
}

.form-signin {
    width: 100%;
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.input-group {
    margin-bottom: 0.4rem;
}

.input-group-addon {
    display: -webkit-inline-box;
    background-color: black;
}

@media screen and (max-width: 500px) {
    .card-body {
        padding: 0;
    }

    .watched-movie-card {
        margin-left: 0;
    }

    .nav-tabs .nav-link {
        font-size: xx-small;
    }

    #submit {
        font-size: small;
    }

    #cancel {
        font-size: small;
    }

    .input-group>.form-control {
        font-size: x-small;
    }

    .card-title {
        font-size: small;
    }

    .dropdown-toggle {
        font-size: x-small;
    }

    .dropdown-item {
        font-size: xx-small;
    }

}