body {
    background-color: black;
}

.navbar {
    color: gold;
    font-weight: bold;
    background-color: #FF9900;
}

.containers {
    position: relative;
    z-index: 0;
}

.collapse {
    background-color: #ff9900;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#videoPlayer {
    position: relative;
    align-self: center;
    top: 2vw;
    bottom: 0;
    left: 2vw;
    right: 0;
    text-align: center;
    margin: auto;
    width: 60%;
    /* height: auto; */
    border: 2px solid #FF9900;
}

.player {
    top: 2vw;
}

.vid_desc {
    color: white;
    top: 3vw;
    bottom: 187px;
    left: 0;
    right: 0;
    position: relative;
    align-self: center;
    /* text-align: center; */
    width: 61%;
    margin: auto;}

@media screen and (max-width: 624px) {
    #videoplayer {
        width: 100%;
        height: auto;
    }
}