/* * {
    transition: 0s;
} */
body {
    background-color: black;
}

.navbar {
    color: gold;
    font-weight: bold;
    background-color: #FF9900;
}

.containers {
    position: relative;
    z-index: 0;
}

.collapse {
    background-color: #ff9900;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#videoPlayer {
    position: relative;
    top: 2vw;
    display: table;
    width: 60%;
    height: 100%;
    border: 2px solid #ff9900;
    margin: 0 auto;
}

.player {
    position: relative;
    width: 100%;
    height: 48.7%;
}

video>.vjs-big-play-button {
    background-color: aqua;
    border: 0.067em solid #ff9900;
}

.vid_desc {
    color: white;
    top: 3vw;
    bottom: 187px;
    left: 0;
    right: 0;
    position: relative;
    align-self: center;
    /* text-align: center; */
    width: 61%;
    margin: auto;
}

@media screen and (max-width: 624px) {
    #videoplayer {
        width: 100%;
    }
}